body {
    font-family: 'McDonalds Helvetica', sans-serif;
    
}

main {
    position: absolute;
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
    padding-top: 38px;
}

header {
    background-color: white;    
    width: auto;
    height: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid grey;    

}

.menu-box {
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 30px;
    margin-right: 30px;

}

.flex-container {
    display: inline-flex;       
    width: auto;
    height: 64px;        
}

.logo {
    width: 5%;
}

.logo img{   
    width: auto;
    height: 100%;
    
}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: initial;
}
nav {
    display: flex;
    flex-direction: row;        
}
nav ul {
    color: black;
    font-weight: bold;
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;    
}

.mc50añosOpcion {
    display: flex;
    align-items: flex-start;
}

.img50 img {    
    width: 40px;
    height: 40px;    
}


.masOpciones {
    display: flex;
    flex-direction: row;
    
}

.masOpciones ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.seccion3 {
    display: flex;
    align-items: flex-end;
    
}

.seccion3 ul {
    padding: 10px;
    
    
}

.seccion3 div {
    display: flex;
    align-items: flex-end
}
.seccion3 ul {
    display: flex;
    align-items: flex-end
}

ul .papitas {
    padding: 0%;
    
    
}

.papitas img {    
    width: 25px;
    height: 25PX;
}


ul .botonOrdenar {
    font-weight: 1000;
    background-color: #FFBC0D;
    border: none;    
    border-radius: 20px;
    padding: 10px 20px;
}

/*Aca inicia el main page*/
.content {
    width: 1180px;
    display: flex;
    flex-direction: column;    
    padding: 50px;
    margin-left: 100px;
    gap: 40px;
}
.gallery {
    width: auto;
}
.gallery img {
    width: 100%;
}

.banner-menu {
    width: auto;
}

.banner-menu img {
    width: 100%;
}

.containerGrid {
    width: auto;
    display: flex;
    flex-direction: row;   
    
    gap: 50px;

}
.contenedor1 {
    width: 470px;
    height: 650px;
    padding: 48px;    
    background-color: #F3F4F6;
}

.contenedor1 .img1 {
    width: auto;
    height: auto;   
    
}
.contenedor1 .img1 img{
    width: auto;
    height: 100%;
    margin-left: 17%;
    margin-right: 17%;
    display: flex;
    flex-direction: column;
    
}

.contenedor2 {
    width: 470px;
    height: 650px;
    padding: 48px;
    
    background-color: #F3F4F6;
}

.contenedor2 .img2 {
    width: auto;
    height: auto;
}

.contenedor2 .img2 img{
    width: auto;
    height: 100%;
    margin-left: 21%;
    margin-right: 21%;
}

.contenedor-texto-imagenes {
    text-align: center;

}
.contenedor-texto-imagenes h3{
    font-size: 30px;
}

.contenedor1 .contenedor-texto-imagenes p{    
    font-size: 16px;
    font-weight: 100;
}
.containerGrid .botonOrdenar {
    font-weight: 1000;
    background-color: #FFBC0D;
    border: none;    
    border-radius: 20px;
    padding: 10px 20px;
}

/* Pasando a las imagenes de abajo del grid */

.cajitaFeliz {
    width: auto;
}

.cajitaFeliz img{
    width: 100%;
}

.contact-stript {
    width: auto;
}

.contact-stript img{
    width: 100%;
}

/* Aca inicia Footer */
/* Parte de logo de macdonalds */

.footer {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid grey; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.contenedor-de-contenido-footer .social {
    display:flex;
    flex-direction: row;
}

.footer .logoM-orgullosamente {
    display: flex;
    flex-direction: row;
}
.footer .logoM-orgullosamente p{    
    font-size: 14px;
    margin-left: 16px;  
    font-weight: lighter;  
}

.social-bar {
    display: flex;
    flex-direction: row;    
    padding-top: 1%;
    margin-left: 49%;
}

.social-bar .img {
    width: 30px;
    height: 30px;
}

/* menu de links */

.menu-contacto {
    padding-top: 15px;
    display: flex;
    flex-direction: row;    
}

.menu-contacto p{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 0.5px solid black; 
}